<style>
    .box-typehead {
        background: #fff none repeat scroll 0 0;
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        display: block;
        margin-bottom: 15px;
        height: 50px;
        width: 100%;
    }

    .box-typehead-icon {
        background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
        display: block;
        float: left;
    }

    .box-typehead-content {
        margin: 0;
        padding: 0;
    }

    .box-typehead-title {
        display: block;
        font-weight: bold;
    }

    .box-typehead-desk {
        display: block;
    }

    .content-wrapper {
        background-color: #fff;
    }
</style>

<section id="contact-info">
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="center">
                    <h2>Contact Us</h2>
                </div>
                <div class="col-sm-5 text-center">
                    <div class="">
                        <div style="overflow:hidden;width:500px;height:250px;resize:none;max-width:100%;"><div id="gmap-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Graha+Mandiri,+Jalan+Imam+Bonjol,+Menteng,+Central+Jakarta+City,+Special+Capital+Region+of+Jakarta,+Indonesia&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-html" rel="nofollow" href="http://www.interserver-coupons.com" id="enable-maps-data">http://www.interserver-coupons.com</a>
                        <style>
                            #gmap-display img {
                                max-width: none !important;
                                background: none !important;
                                font-size: inherit;
                            }
                        </style></div>
                        <script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=2dfffd80-2dc4-051d-c998-cb578e627e4a&c=google-html&u=1479296125" defer="defer" async="async"></script>
                    </div>
                </div>

                <div class="col-sm-7 map-content">
                    <ul class="row">
                        <li class="col-sm-6">
                            <address>
                                <h5>Corporate Secretary Division</h5>
                                <p style="color:blue;">PT Mandiri Tunas Finance</p>
                            </address>

                            <address>
                                <h5>Lokasi</h5>
                                <p>Graha Mandiri Lt.3A</p>
                                <p>Jl. Imam Bonjol No.61</p>
                                <p>Jakarta 10310</p>
                            </address>
                        </li>


                        <li class="col-sm-6">
                            <address>
                                <h5>Kontak</h5>
                                <p>Tel. (62-21) 2305608 </p>
                                <p>Fax. (62-21) 2305618</p>
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  <!--/gmap_area -->

@section Scripts {
   
    <script type="text/javascript">
        $("#menu3").addClass('active');

      
    </script>
}