@{
    ViewBag.Title = "Home Page";
}

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(/Content/images/slider/mtf.jpg); height:524px;">

            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section>
