<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="manajer" value="aa17dd56-0b0a-4fb5-9c74-873db68f234c" />
	<add key="g-recaptcha-secret" value="6LfdehsTAAAAADvd6dH5Wf_OTxGUzyzEIFcQlld4" />
	<add key="USE_GOOGLE_RECAPTCHA" value="false" />
	
	<!-- workflowconfigure-->
	<add key="WorkflowTemplateId1" value="1" />
	<add key="WorkflowTemplateId2" value="2" />
	<add key="BATASAN_BIAYA" value="50000000" />
	<add key="BATASAN_BIAYA_DIREKSI" value="100000000" />
	<add key="BATASAN_BIAYA_DIRUT" value="1000000000" />
		
	<!--end-->
	<add key="FROM_EMAIL" value="jimbis182@gmail.com" />
	<add key="FROM_NAME" value="E-Procurement Mandiri Tunas Finance" />
	<add key="FROM_PASSWORD" value="281sibmij" />
	<add key="MAIL_HOST" value="smtp.gmail.com" />
	<add key="MAIL_PORT" value="587" />
	<add key="MAIL_ENABLE_SSL" value="true" />
	<!--
	<add key="FROM_EMAIL" value="procurement@mtf.co.id" />
	<add key="FROM_NAME" value="EPROC MTF" />
	<add key="FROM_PASSWORD" value="P@ssw0rd" />
	<add key="MAIL_HOST" value="mail.mtf.co.id" />
	<add key="MAIL_PORT" value="25" />
	<add key="MAIL_ENABLE_SSL" value="false" />
	-->
	<add key="MAIL_VENDOR_REGISTRATION_TITLE" value="Pengajuan Rekanan PT Mandiri Tunas Finance" />
	<add key="MAIL_VENDOR_REGISTRATION_BODY" value="Selamat Datang, &lt;br&gt; Kami telah menerima pengajuan rekanan anda. Pengajuan Anda sedang memasuki proses verifikasi.&lt;br&gt;&lt;br&gt;Anda bisa memantau perkembangan status pengajuan di: {0}/registrasi.html?no={1} &lt;br&gt;&lt;br&gt;Terima kasih, &lt;br&gt;&lt;br&gt;Tim Pengadaan&lt;br&gt;PT Mandiri Tunas Finance" />
	<add key="MAIL_VENDOR_VERIFICATION_TITLE" value="Verifikasi Pengajuan Rekanan PT Mandiri Tunas Finance" />
	<add key="MAIL_VENDOR_VERIFICATION_BODY" value="Selamat Pagi,&lt;br&gt;&lt;br&gt; Selamat, {0}, pengajuan rekanan Anda telah berhasil kami verifikasi. Dengan ini, perusahaan Anda dapat mengikuti kegiatan pengadaan yang dilakukan oleh PT Mandiri Tunas Finance.&lt;br&gt;&lt;br&gt;Gunakan username dan password di bawah ini untuk masuk ke dalam sistem pengadaan online PT Mandiri Tunas Finance.&lt;br&gt;&lt;br&gt;Username : {1}&lt;br&gt;Password : {2}&lt;br&gt;&lt;br&gt;Gunakan link ini untuk masuk: {3}&lt;br&gt;&lt;br&gt;&lt;br&gt;Regards,&lt;br&gt;&lt;br&gt;Tim Pengadaan&lt;br&gt;PT Mandiri Tunas Finance" />
	<add key="MAIL_PENAWARAN_TITLE" value="Undangan Aanwijzing" />
	<add key="MAIL_PENAWARAN_YTH" value="Kepada Yth" />
	<add key="MAIL_PENAWARAN_FOOTER1" value="Tim Panitia Pengadaan" />
	<add key="MAIL_PENAWARAN_FOOTER2" value="PT. Mandiri Tunas Finance" />
	<add key="MAIL_KLARIFIKASI_TITLE" value="Undangan Klarifikasi" />
	<add key="MAIL_KLARIFIKASI_YTH" value="Kepada Yth" />
	<add key="MAIL_KLARIFIKASI_FOOTER1" value="Tim Panitia Pengadaan" />
	<add key="MAIL_KLARIFIKASI_FOOTER2" value="PT. Mandiri Tunas Finance" />
	
	<add key="MAIL_BODY_APPROVER" value="Ada Persetujuan Untuk Pengadaan: " />
	<add key="MAIL_SUBJECT_APPROVER" value="Pemberitahuan Minta Persetujuan" />
	
	<add key="MAIL_PEMENANG_BODY" value="Jakarta, {1}&lt;br&gt;&lt;br&gt;&lt;br&gt;Nomor: {2}.&lt;br&gt;Hal : Pemberitahuan.&lt;br&gt;Lamp : - &lt;br&gt;&lt;br&gt;Kepada Yth.&lt;br&gt;{3}&lt;br&gt;{4}&lt;br&gt;&lt;br&gt;Sehubungan dengan adanya proses tender {0} maka dengan ini kami sampaikan hal-hal sebagai berikut :&lt;br&gt;1.	Berdasarkan hasil penilaian yang telah dilakukan oleh tim Pengadaan {0}&lt;br&gt;2.	Sehubungan dengan hal tersebut diatas, kami mengucapkan terima kasih, dan tetap mengharapkan partisipasi Saudara dalam mengikuti pengadaan-pengadaan lainnya pada kesempatan mendatang.&lt;br&gt;&lt;br&gt;Demikian untuk dimaklumi. Atas Perhatian dan kerjasamanya kami ucapkan terima kasih.&lt;br&gt;&lt;br&gt;Hormat Kami, &lt;br&gt;&lt;br&gt;&lt;br&gt;Tan Rina&lt;br&gt;Division Head GA, Procurement &amp; Branch Support" />
	<add key="MAIL_KALAH_BODY" value="Jakarta, {1}&lt;br&gt;&lt;br&gt;&lt;br&gt;Nomor: {2}.&lt;br&gt;Hal : Pemberitahuan.&lt;br&gt;Lamp : - &lt;br&gt;&lt;br&gt;Kepada Yth.&lt;br&gt;{3}&lt;br&gt;{4}&lt;br&gt;&lt;br&gt;Sehubungan dengan adanya proses tender {0} maka dengan ini kami sampaikan hal-hal sebagai berikut :&lt;br&gt;1.	Berdasarkan hasil penilaian yang telah dilakukan oleh tim Pengadaan {0}&lt;br&gt;2.	Sehubungan dengan hal tersebut diatas, kami mengucapkan terima kasih, dan tetap mengharapkan partisipasi Saudara dalam mengikuti pengadaan-pengadaan lainnya pada kesempatan mendatang.&lt;br&gt;&lt;br&gt;Demikian untuk dimaklumi. Atas Perhatian dan kerjasamanya kami ucapkan terima kasih.&lt;br&gt;&lt;br&gt;Hormat Kami, &lt;br&gt;&lt;br&gt;&lt;br&gt;Tan Rina&lt;br&gt;Division Head GA, Procurement &amp; Branch Support" />
  
  <add key="MAIL_MENANG_KALAH_CONFIG" value="off" />
  
  <add key="MAIL_KALAH_SUBJECT" value="Surat Pemberitahuan Pengadaan {5} (Surat Kalah)" />
  <add key="MAIL_PEMENANG_SUBJECT" value="Surat Pemberitahuan Pengadaan {5} (Surat Menang)" />
	
	<add key="KODE_PENGADAAN" value="/EPROC/MTF-GA/" />
	<add key="KODE_BERITAACARA" value="/MTF-GA/" />
	<add key="KODE_NOTA" value="/NOTA-GA/MTF/" />
	<add key="KODE_SPK" value="/SPK-GA/MTF/" />
	<add key="KODE_PO" value="/MTF-GA/HO/" />
	<add key="KODE_KALAH" value="/SKL-GA/MTF/" />
	<add key="KODE_MENANG" value="/SMN-GA/MTF/" />
	<add key="VIEW_BASE_PATH" value="View" />
	<add key="FILE_UPLOAD_TEMP" value="\Upload\Temp\" />
	<add key="FILE_UPLOAD_VENDOR" value="\Upload\Vendor\" />
	<add key="FILE_UPLOAD_REG" value="\Upload\Registrasi\" />
	<add key="FILE_UPLOAD_DOC" value="\Upload\Dokumen\Pengadaan\" />
	<add key="FILE_DOKUMEN_PKS_PATH" value="\Upload\Dokumen\Pks\" />
	<add key="FILE_DOKUMEN_SPK_PATH" value="\Upload\Dokumen\Spk\" />
	<add key="FILE_DOKUMEN_PO_PATH" value="\Upload\Dokumen\PO\" />
	<add key="MSC_REGISTRATION_DUE" value="5" />
	<add key="FILE_REPORT_PATH" value="\Report\" />
	
	<add key="FILE_UPLOAD_DOCPRO" value="E:\\RESTON\sh\\mtf-fase-2\\Reston.EProc.Runner.IIS\\UploadDokumenMonitor\\" />
  

	<!--IDENTITY SERVER-->
	<add key="IDSRV_URL" value="http://localhost:7348/identity" />
	<add key="IDSRV_SECRET" value="" />
	<add key="IDSRV_DNSSAFE" value="false" />
	<add key="IDSRV_RUNSEEDER" value="false" />

	<add key="IDM_URL" value="http://localhost:7348/" />
	<add key="IDM_CLIENTNAME" value="Identity Manager" />
	<add key="IDM_CLIENTID" value="idm" />
	<add key="IDM_SECRET" value="secret" />

	<add key="EPROC_URL" value="http://localhost:49559/" />
	<add key="EPROC_CLIENTNAME" value="EPROC" />
	<add key="EPROC_CLIENTID" value="proc" />
	<add key="EPROC_SECRET" value="secret" />

	<!--END IDENTITY SERVER-->

	<!--ROLES-->
	<add key="ROLE_SUPERADMIN" value="eproc_superadmin" />
	<add key="ROLE_ADMIN" value="eproc_admin" />
	<add key="ROLE_USER" value="eproc_user" />
	<add key="ROLE_PROCHEAD" value="procurement_head" />
	<add key="ROLE_PROCMANAGER" value="procurement_manager" />
	<add key="ROLE_PROCSTAFF" value="procurement_staff" />
	<add key="ROLE_COMPLIANCE" value="compliance" />
	<add key="ROLE_ENDUSER" value="end_user" />
	<add key="ROLE_VENDOR" value="rekanan_terdaftar" />
	<!--END ROLES-->
	
	<!-- kondisi tambahan-->
	<add key="RKS_CHANGE_AFTER_APROVE" value="1" />
</appSettings>