<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mandiri Tunas Finance</title>

    <!-- core CSS -->
    <link href="open/css/bootstrap.min.css" rel="stylesheet">
    <link href="open/css/font-awesome.min.css" rel="stylesheet">
    <link href="open/css/animate.min.css" rel="stylesheet">
    <link href="open/css/prettyPhoto.css" rel="stylesheet">
    <link href="open/css/main.css" rel="stylesheet">
    <link href="open/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="open/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="open/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="open/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="open/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="homepage">
    <div class="wrapper">

        <header id="header">
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-4">
                            <div class="top-number"><p><i class="fa fa-phone-square"></i> Contact (62-21) 2305608</p></div>
                        </div>
                        <div class="col-sm-6 col-xs-8">
                            <div class="social">
                                <ul class="social-share">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                                <div class="search">
                                    <form role="form">
                                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                        <i class="fa fa-search"></i>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.container-->
            </div><!--/.top-bar-->

            <nav class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="open/images/logo-mandiri.jpg" alt="logo"></a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="beranda-eproc.html">Pengumuman Lelang</a></li>
                            <li><a href="cari-pengadaan.html">Cari Pengadaan</a></li>
                            <!--<li><a href="tanya-jawab.html">Tanya Jawab</a></li>-->
                            <li><a href="kontak-kami.html">Kontak Kami</a></li>
                            <li><a href="registrasi.html">Registrasi</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                </div><!--/.container-->
            </nav><!--/nav-->

        </header><!--/header-->
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <!-- Main content -->
                <section class="content">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h2>Kriteria Kualifikasi</h2>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="text-bold" style="width:200px;"> No. Pengadaan</td>
                                    <td> 1/EPROC/MTF-GA/XI/2016</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="width:200px;"> Nama Pengadaan</td>
                                    <td> Pengadaan Barang/Jasa Kertas Resi ATM Tahun 2016</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="width:200px;"> Kualifikasi</td>
                                    <td> Non Kecil</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="width:200px;"> Lokasi Pengadaan</td>
                                    <td> Surabaya</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="background-color:#013066; color:#fff; width:200px;"> Pengalaman</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="width:200px;"> Jenis Pengadaan</td>
                                    <td> Barang</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="width:200px;"> Memiliki Pengalaman Pekerjaan Sejenis Minimal</td>
                                    <td> 1 Kali</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="width:200px;"> Dengan Nilai Kontrak Minimal Rp.</td>
                                    <td> Rp 2.500.000.000,00 pada salah satu pengalaman pekerjaan antara</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="width:200px;"> Tahun</td>
                                    <td> 2012 s/d 2015</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="background-color:#013066; color:#fff; width:200px;"> Izin Usaha</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="width:200px;"> Memiliki Ijin Usaha</td>
                                    <td> Surat Izin Usaha Perdagangan (SIUP) - Non Kecil</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="background-color:#013066; color:#fff; width:200px;"> Klasifikasi</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text-bold" style="width:200px;"> Memiliki Klasifikasi</td>
                                    <td> Ijin Usaha : KBLI G4659 - PERDAGANGAN BESAR MESIN, PERALATAN DAN PERLENGKAPAN LAINNYA</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
            </div>
            <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="site.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="plugins/fastclick/fastclick.min.js"></script>
    <script src='plugins/fullcalendar/moment.min.js'></script>
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="plugins/jQueryUItotop/easing.js"></script>
    <script src="plugins/jQueryUItotop/jquery.ui.totop.js"></script>
    <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="plugins/bootstrap-dialog/bootstrap-dialog.min.js"></script>
    <script src="dist/site.js"></script>
    <script src="dist/js/app.min.js"></script>
    <script src="plugins/angular/angular.min.js"></script>
    <script src="dist/js/menu.js"></script>
    <script src="dist/js/pengadaan-list.js"></script>
    <script src="blockui/jquery.blockUI.js"></script>
    <script>
    </script>
</body>
</html>
