<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<!--IDENTITY SERVER-->
	<add key="IDSRV_URL" value="http://localhost:7348/identity" />
	<add key="IDSRV_SECRET" value="" />
	<add key="IDSRV_DNSSAFE" value="false" />
	<add key="IDSRV_RUNSEEDER" value="false" />

	<add key="IDM_URL" value="http://localhost:7348/" />
	<add key="IDM_CLIENTNAME" value="Identity Manager" />
	<add key="IDM_CLIENTID" value="idm" />
	<add key="IDM_SECRET" value="secret" />

	<add key="EPROC_URL" value="http://localhost:49559/" />
	<add key="EPROC_CLIENTNAME" value="EPROC" />
	<add key="EPROC_CLIENTID" value="proc" />
	<add key="EPROC_SECRET" value="secret" />
	
	
	<add key="ECONTRACT_URL" value="http://localhost:55996/" />
	<add key="ECONTRACT_CLIENTNAME" value="ECONTRACT" />
	<add key="ECONTRACT_CLIENTID" value="contract" />
	<add key="ECONTRACT_SECRET" value="econtractsecret" />


	<add key="ID_SITENAME" value="EPROC Identity Service" />
	<add key="ID_ISSUERURI" value="procurement.mtf.co.id" />
	<add key="ID_CERTNAME" value="idsrv3test.pfx" />
	<add key="ID_CERTPASSWORD" value="idsrv3test" />
	<add key="ID_SITESSL" value="false" />
	<add key="ID_ADMINPASSWORD" value="P@ssw0rd!" />
	<add key="ID_ADMINUSERNAME" value="eproc_admin" />
	<add key="ID_ADMINFIRSTNAME" value="eproc" />
	<add key="ID_ADMINLASTNAME" value="admin" />
	<add key="ID_ADMINEMAIL" value="eproc@mtf.co.id" />
	<add key="ID_ADMINROLE" value="eproc_superadmin" />
	<add key="ID_ADMINSUBJECT" value="00000000-0000-0000-0000-000000000000" />
	<add key="ID_USERROLE" value="eproc_user" />
	<!--END IDENTITY SERVER-->
	
	<!--LDAP-->
	<add key="LDAP_SSL" value="false" />
	<add key="LDAP_VERSION" value="3" />
	<add key="LDAP_FASTBIND" value="false" />
	<add key="LDAP_ISADAM" value="false" />
	<add key="LDAP_HOST" value="localhost:50002" />
	<add key="LDAP_CONTAINER" value="CN=mtf-App,DC=mtf,DC=com " />
	<add key="LDAP_USERNAME" value="jafar-PC\jafar" />
	<add key="LDAP_PASSWORD" value="zaq1234rfvcx" />
	<add key="LDAP_APPDIR" value="true" />
	
	<!--END LDAP-->
</appSettings>